.login{
	
	-fx-background-color :linear-gradient(to right, rgb(218, 210, 153), rgb(176, 218, 185));
	
	}
	
	.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #FFF;
	}
	
	.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #FFF;
	}
	
	.login-form-botao {
	-fx-font-size: 16px;
	
	}